{% extends 'base.html' %}

{% load static %}

{% block content %}
    <br><br>
    <div class="container-fluid">
        <h1 style="color: white; text-shadow: 2px 2px 4px #000000; text-align: center;">Welcome to Surau An-Nur System !!</h1>
        <p style="color: white; text-shadow: 2px 2px 4px #000000; text-align: center;">You can book inventory here</p><br><br>
        <iframe src="https://timesprayer.com/widgets.php?frame=1&amp;lang=en&amp;name=semenyih&amp;avachang=true" style="border: none; overflow: hidden; width: 100%; height: 187px;"></iframe>
    </div>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        Surau An-Nur Information
                    </div>
                    <div class="card-body">
                        <p>
                            Join us for our weekly Surau Usrah every week. Usrah is a great opportunity to strengthen our faith and build a sense of community. It's held at our Surau An-Nur at least once a week, and it's open to everyone. We discuss various Islamic topics, engage in meaningful discussions, and engage in acts of worship and remembrance.
                        </p>
                        <p>
                            "The best among you are those who have the best manners and character."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br><br>


{% endblock %}
